a{color: #000;display: block;width:100%;height:100%;}
a:hover{text-decoration:none;color:#999}
article{margin-top: 20px;}
ul{border-top:2px solid #E4EEF9;}
li{border-bottom: 2px solid #E4EEF9;padding: 5px 5px;font-size: 18px;}
li p{float: left;margin: 0;width:80%;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
li span{display: block;float: right;width:10%}